body {
	font-family: 'Poppins', sans-serif;		
  max-width: 1280px;
  margin: 0 auto;
  background-color: #5e5b5bad;
  color: #333333;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 25px;
}

header img {
  width: 30px;
}

header #botao-alterar-tema {
  background: none;
  border: none;
  cursor: pointer;
}

header .logo:hover,
header #botao-alterar-tema img:hover,
.cartao-pokemon:hover {
  transform: scale(1.05);
  cursor: pointer; 
}

main {
  padding: 25px;
}

.listagem-pokemon {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  place-items: center;
  gap: 30px;
  margin-top: 15px;
}

.cartao-pokemon {
  background-color: #d8e3ec;
  padding: 15px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 15px;
  border-radius: 15px;
  width: 200px;
}

.cartao-pokemon:hover{
  background-color: #96d9d6;
}

.cartao-pokemon .informacoes {
  display: flex;
  justify-content: space-between;
  border: 1px solid #333333;
  border-radius: 10px;
}

.cartao-pokemon .informacoes span {
  padding: 5px;
  font-size: 17px;
  text-transform: uppercase;
  padding: 5px;
} 

.cartao-pokemon .tipos {
  display: flex;
  gap: 15px;
}

.tipo {
  padding: 8px;
  border-radius: 10px;
}
.grama {
  background-color: #7ac74c;
}
.veneno {
  background-color: #df67ddfb;
}
.fogo {
  background-color: #ee8130;
}
.agua {
  background-color: #6390f0;
}
.inseto {
  background-color: #a6b91a;
}

.descricao {
  max-height: 80px;
  overflow-y: scroll;
  font-size: 14px;
  padding-right: 10px;
}

.cartao-pokemon .gif {
  width: 90px;
  height: 90px;
}